@model IEnumerable<CustomerOrder>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<form action="/Order/Filter" method="post">

	
	<div class="form-group">
		Customer :
	</div>
	<div class="form-group">
		<select id="CustomerID" name="CustomerID" class="form-control">
			<option value="0">Select a customer</option>
			@foreach (var customer in Customer.CustomerList)
			{
				<option value="@customer.CustomerID">@customer.Name</option>
			}
		</select>
	</div>
	<div class="form-group">
		Start Date :
	</div>
	<div class="form-group">
		<input class="form-control datepicker" type="date" id="startDate" name="startDate" />
	</div>
	<div class="form-group">
		End Date :
	</div>
	<div class="form-group">
		<input class="form-control datepicker" type="date" id="endDate" name="endDate" />
	</div>
	<div class="form-group">
		<button type="submit" id="submitButton" class="btn btn-primary">Filter</button>
	</div>
</form>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.CustomerID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomerName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderRefernce)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderTotal)
			</th>
			
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.CustomerID)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CustomerName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.OrderRefernce)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.OrderDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.OrderTotal)
			</td>
			
			<td>
				@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
				@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
				@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
			</td>
		</tr>
		}

	</table>
	